.booklist{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);     display: grid;
    overflow: scroll;
    display: grid;
    grid-template-columns: 350px  350px 350px 300px; 
    grid-row-gap: 100px;
    gap: 60px 0px;   
}

.bookcard{
    height: 380px;
    width: 230px;
    margin-top: 50px;
    margin-left: 100px;
}

.book-image{
    height: 260px;
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);     display: grid;
    border-radius: 7px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 

}

.book-image img{
    height: 260px;
    width: 100%;
margin-top: 0px;
border-radius: 7px;
}

.book-data{
    height: 158px;
    background-color: rgba(255, 255, 255, 0.699);
    margin-top: 5px;
    border-radius: 7px;
    font-size: 12px;
   font-weight: bold;  
  display: flex;
    flex-direction: column;
    transition: transform 0s ease; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 

}

.book-data:hover{
    height: 160px ;
    width: 300px;
    transform: translateX(-35px);

}
#book-name{
    height: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    margin-top: 7px;
}
.book-data .data{
    display: flex;
    margin-left: 10px;
    margin-top: 2px;

}

.book-data .button button{
    width: 100px;
    height: 25px;
    background-color: green;
    border-radius: 7px;
    border: none;
}
.book-data .button button:hover{
   background-color: blue;
   cursor: pointer;
}

.edit{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.336);
    display: flex;
    justify-content: center;
}

.edit-form{
    height: 500px;
    width: 400px;
    background-color: aliceblue;
    font-size: 14px;
    margin-top: 70px;
}

.back{
    width: 30px;
    height: 25px;
    display: flex;
    justify-content: center;
    font-size: 17px;
    align-items: center;
    float: right;
}

.back:hover{
    background-color: rgba(0, 0, 0, 0.214);
}

.form-div{
    margin-top: 30px;
    width: 400px;
    height:330px;
    display: flex;
    justify-content: center;
}


.editinput{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.form-div input{
    background-color: azure;
    border: none;
    height: 25px;
    width: 250px;
    outline: 1px solid black;
    color: black;
    padding-left: 10px;
}
.editinput .upload-image{
    height: 20px;
    width: 200px;
    padding: 0px;
}
.button-update{
    margin-top: 10px;
    width: 250px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-update .update{
    width: 100px;
    background-color: green;
    border: none;
    height: 30px;
}

.update:hover{
    background-color: blue;
    border-radius: 7px;
    cursor: pointer;
}

.edit-department{
    background-color: transparent;
    color: black;
    height: 25px;
    border: none;
    outline: 1px solid black;
}

.update-success{
    background-color: aliceblue;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    font-size: 20px;
    margin-top: 200px;
}
.update-success p{
    margin-left: 10px;
}
.success{
    color: green;
    font-size: 50px;
   
    display: flex;
    justify-content: center;
    align-items: center;
}
