td{
    height: 31px;
}
.skeleton-row:nth-child(even){
    background-color: #a4a3a3;
}
.skeleton-name{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
}

.skeleton-name p {
   height: 16px;
    width: 260px;
    background-color: rgb(178, 179, 179);
    position: relative;
    overflow: hidden;
  }
  
  @keyframes skeletonShimmer {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  .skeleton-row p::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent 0%, rgba(255, 255, 255, 0.7) 50%, transparent 100%);
    animation: skeletonShimmer 1.7s infinite;
  }
  

.skeleton-author{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 290px;
}

.skeleton-author p{
   height: 16px;
    width: 200px;
    background-color: rgb(178, 179, 179);
    position: relative;
    overflow: hidden;
}
.skeleton-id{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95px;
}

.skeleton-id p{
    width: 45px;
   height: 16px;
   background-color: rgb(178, 179, 179);
    position: relative;
    overflow: hidden;
}

.skeleton-sid{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
}

.skeleton-sid p{
   height: 16px;
    width: 75px;
    background-color: rgb(178, 179, 179);
    position: relative;
    overflow: hidden;
}

.skeleton-dt{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 103px;
}

.skeleton-dt p,.skeleton-drnew p{
   height: 16px;
    width: 90px;
    background-color: rgb(178, 179, 179);
    position: relative;
    overflow: hidden;
}
.skeleton-dr{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}

.skeleton-dr p{
    width: 90px;
    background-color: rgb(178, 179, 179);
   height: 16px;
    position: relative;
    overflow: hidden;
}

.skeleton-drnew{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 103px;
}

.skeleton-remark{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
}

.skeleton-row button{
    height: 23px;
    width: 60px;
    outline: 1px solid #FFFFFF;
    border: none;
    border-radius: 5px;
}
.skeleton-accept{
    margin-right: 5px;
    background-color: green;
}

.skeleton-reject{
    margin-left: 5px;
    background-color: red;
}