.header {
    /* width: calc(100% - 1vw); */
    height: 50px;
    background-color: #0a1bbc;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    position: relative;
}



.mtu-logo {
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}