.header{
    width: 100%;
    height:50px;
    background-color:#E5E1DA;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}



.mtu-logo{
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}