.otp-container{
    height: 420px;
    width: 380px;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
    align-items: center;

}

.otp-intro{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.otp-intro h6{
    margin-top: 30px;
font-size: 20px;
}

.otp-intro p{
    font-size: 13.5px;
    color: #7F8487;
}

.otp-inputs{
    margin-top: 40px;
    display: flex;
    width: 380px;
    height: 43px;
    justify-content: center;
    align-items: center;

}

.otp-verify{
    margin-top: 10px;
    border: none;
    height: 40px;
    width: 200px;
    border-radius: 15px;
    background-color: #3252F8;
    cursor: pointer;
    font-size: 17px;
    color: #EEEDEB;
}

.otp-verify:hover{
    background-color: #062ffb;
}

.resend{
    font-size: 12px;
    margin-top: 20px;
    display: flex;
}

.logo,img{
    margin-top: 20px;
    height: 100px;
    width: 100px;
}

.input{
    width: 82px;
    display: flex;
    justify-content: center;
}
.input input{
    width: 10px;
    height: 10px;
    padding: 22px;
    background-color: #c7c7cac6;
    border: none;
    color: black;
    font-size: 20px;
    border-radius: 10px;
}

.otp-time{
    margin-left: 5px;
}
#resend-otp{
    color: blue;
    cursor: pointer;
    font-style: bold;
}

.input input:focus{
    background-color: #EEEDEB;
    outline: 1px solid #1640D6;
}